# Environments
.env
.env.local

# Virtual Environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Tests
.pytest_cache/
coverage.xml
htmlcov/
.coverage

# IDEs
.vscode/
.idea/
